.main-add-product-conatainer{
    width: 100%;
    padding: 5px 25px;
}

.product-info{
    font-weight: 500;
    font-size: 17px;
    margin: 10px 0px;
}
.image-name{
    display: flex;
    gap: 10px;
    margin-bottom: 25px;
}
.image-add-product{
    width: 220px;
    height: 205px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

.image-add-product img{
    width: 100%;
    height: 100%;
    border-radius: inherit;
}

.loadimg{
    width: 100%;
    height: 100%;
    border-radius: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#uploadImage{
    display: none;
}

.loadimg div{
    width: 150px;
    height: 150px;
    display:flex ;
    align-items: center;
    justify-content: center;
    border-radius: 45%;
    box-shadow: 0px 2px 5px rgb(194, 194, 253);
}


.main-add-product-conatainer label{
    font-size: 18px;
    font-weight: 500;
}
.image-add-product label{
    font-size: 16px;
    font-weight: 300;
}

#name{
    width: 110%;
    height: 40px;
    border: 1px solid rgb(201, 201, 202);
    border-radius: 5px;
}

#name::placeholder{
    font-size: 16px;
    font-family: poppins;
}

.main-add-product-conatainer input{
    padding: 5px 10px;
}
.carbrand-and-details{
    display: flex;
    gap: 20px;
    flex-direction: column;
}
.title{
    font-size: 18px;
    font-weight: 600;
}
.category{
    display: flex;
    flex-direction: column;
    gap: 6px;
}
.category-input{
    width: 100%;
    padding: 15px 10px;
    border-radius: 8px;
    border: 1px solid rgb(201, 201, 202);
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.category-input label{
    display: flex;
    gap: 4px;
}

.secondpart{
    margin-top: 18px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.secondpart .title{
    margin-top: 15px;
}
#fitment,#description{
    width: 100%;
    height: 40px;
    border-radius: 8px;
    border: 1px solid rgb(201, 201, 202);
    background: transparent;
    position: relative;
}
.secondpart ::placeholder{
    font-size: 17px;
    font-family: poppins;
}

#description::placeholder{
  position: absolute;
  top: 5px;
}


#description{
    height: 150px;
}

input{
    outline: none;
}

.selected-images{
    width: 100%;
    display: flex;
    gap: 5px;
}

.imagges{
    font-size: 18px;
    font-weight: 500;
    margin:20px 0px ;
}

.selected-images img{
    width: 100px;
    height: 100px;
}







@media screen and (max-width:450px){
    .image-name{
        flex-direction: column;
    }
    #name{
        width: 100%;
    }
    .image-add-product{
        margin: 0px auto;
        width: 240px;
        height: 220px;
    }
}
@media screen and (min-width:580px){
    .image-name{
        flex-direction: column;
    }
    #name{
        width: 100%;
    }
    .image-add-product{
        margin: 0px auto;
        width: 240px;
        height: 220px;
    }
}
@media screen and (min-width:800px){
    .main-add-product-conatainer{
        display: flex;
        gap: 20px;
    }
    .firstpart{
        flex-basis: 45%;
    }
   .secondpart{
    flex-basis: 55%;
   }
}