.Header-container {
  height: 65px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 10px;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: relative;
  z-index: 1000;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo-container img {
  width: 160px;
  height: auto;
  position: absolute;
  top: -7px;
}

.nav-icons {
  display: flex;
  height: inherit;
  align-items: center;
  gap: 20px;
}

.search-header-container {
  display: flex;
  align-items: center;
  position: relative;
}

.input-header-container {
  display: flex;
  align-items: center;
  position: relative;
}

#input-1 {
  width: 350px;
  padding: 6px 18px;
  border: 1px solid #ccc;
  border-radius: 20px;
  font-size: 1rem;
  outline: none;
  transition: border-color 0.3s ease;
}

#input-1:focus {
  border-color: var(--orange-bgcolor);
}

.input-header-container .search {
  position: absolute;
  top: 25%;
  right: 15px;
}

.notification-container {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.notification-icon {
  font-size: 1.5rem;
  color: #333;
}

.notification-container span {
  position: absolute;
  top: -5px;
  right: -5px;
  background-color: #ff0000;
  color: #fff;
  border-radius: 50%;
  padding: 0.6px 6px;
  font-size: 0.8rem;
  font-weight: bold;
}

.profile-header-container {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.image-header-container {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 10px;
}

#admin-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profile-name span {
  font-size: 1rem;
  font-weight: bold;
  color: #333;
}

@media screen and (max-width: 1034px) {
  .profile-name {
    display: none;
  }
}

.nav-icons .hamburger-container,
.menuX-container {
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

.hamburger,
.menuX {
  font-size: 33px;
}

@media screen and (max-width: 1034px) {
  .nav-icons .hamburger-container {
    display: block;
    margin-top: 28px;
  }
  .menuX-container {
    margin-top: 29px;
  }
  .visible {
    display: block;
  }
  .nav-icons .hidden {
    display: none;
  }
  .slide-in {
    transform: translateX(0);
  }
}

@media screen and (max-width: 1034px) {
  .nav-icons {
    padding: 0;
  }
  #input-1 {
    display: none;
  }
  .input-header-container .search {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .logo-container img {
    width: 135px;
    height: auto;
    position: absolute;
    top: -7px;
  }

  .notification-icon {
    font-size: 1.3rem;
  }

  .notification-container span {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.6px 5px;
    font-size: 0.6rem;
    font-weight: bold;
  }
  .image-header-container {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
  }
}
